---
import Head from "@hx/components/Head.astro";
import Layout from "@hx/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { id: post.slug }, props: { post } }));
}

const { post } = Astro.props;

const title = `${post.data.title} | Ali Hashemi`;
const description = post.data.summary;

const { Content } = await render(post);
---

<Layout>
  <Head title={title} description={description} slot="head" />

  <main class="prose overflow-hidden px-3 prose-zinc prose-invert" style={{ overflowWrap: "break-word" }}>
    <article>
      <Content />
    </article>
  </main>
</Layout>
