---
import BlogLayout from "@/app/layouts/BlogLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("exp");
  return posts.map((post) => ({ params: { id: post.id }, props: { post } }));
}

const { post } = Astro.props;

const title = `${post.data.title} @${post.data.company}`;
const { Content } = await render(post);
---

<BlogLayout summary={`My experiences as a ${title}`} title={title}>
  <main class="prose prose-zinc prose-invert overflow-hidden px-3" style={{ overflowWrap: "break-word" }}>
    <article>
      <Content />
    </article>
  </main>
</BlogLayout>
