---
interface Props {
  url: string;
  title: string;
  summary: string;
}

const { url, title, summary } = Astro.props;
---

<a
  class="group relative flex-1 border-l-2 border-zinc-800 px-4 py-2 transition-colors duration-300 hover:border-zinc-500"
  href={`/blog/${url}`}
>
  <span
    class="absolute left-0 top-0 size-full bg-gradient-to-r from-zinc-900 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  ></span>

  <div class="relative flex flex-col gap-2">
    <h2>{title}</h2>

    <p class="text-sm text-zinc-500">{summary}</p>
  </div>
</a>
