---
import { FaAt, FaGithub, FaLinkedin, FaTelegram } from "react-icons/fa6";

const socials = [
  { label: "Email", url: "mailto:contact@haashemi.dev", Icon: FaAt },
  { label: "LinkedIn", url: "https://www.linkedin.com/in/haashemi", Icon: FaLinkedin },
  { label: "GitHub", url: "https://github.com/haashemi", Icon: FaGithub },
  { label: "Telegram", url: "https://t.me/Byfron", Icon: FaTelegram },
];
---

<header
  class="my-16 flex justify-between gap-5 px-5 sm:px-12"
  style={{ viewTransitionName: "main-header" }}
  transition:name="main-header"
>
  <a class="flex flex-col gap-2" href="/">
    <h1 class="text-4xl font-medium">Ali Hashemi</h1>
    <p class="text-lg text-zinc-400">Golang Developer</p>
  </a>

  <ul class="grid grid-cols-2 gap-5 self-center justify-self-center">
    {
      socials.map((v) => (
        <li class="group size-6">
          <a aria-label={v.label} href={v.url}>
            <v.Icon className="size-full text-zinc-500 transition-colors group-hover:text-zinc-100" />
          </a>
        </li>
      ))
    }
  </ul>
</header>
