---
import {
  SiGo,
  SiTypescript,
  SiNextdotjs,
  SiPostgresql,
  SiMinio,
  SiDocker,
  SiNginx,
  SiCaddy,
  SiGit,
} from "react-icons/si";

// Some of the things that I use often.
const techStacks = [
  // Programming languages
  { title: "Go", Icon: SiGo },
  { title: "Typescript", Icon: SiTypescript },

  // Frameworks
  { title: "Next.JS", Icon: SiNextdotjs },

  // Storage related
  { title: "Postgres", Icon: SiPostgresql },
  { title: "Minio", Icon: SiMinio },

  // Server related
  { title: "Docker", Icon: SiDocker },
  { title: "Nginx", Icon: SiNginx },
  { title: "Caddy", Icon: SiCaddy },

  // General
  { title: "Git", Icon: SiGit },
] as const;
---

<ul class="flex flex-wrap gap-3 px-3">
  {
    techStacks.map((ts) => (
      <li aria-label={ts.title} class="flex items-center gap-3 border border-zinc-700 px-3 py-2 text-zinc-200">
        <ts.Icon className="h-full" />
        <span class="text-sm">{ts.title.toUpperCase()}</span>
      </li>
    ))
  }
</ul>
