---
import "@hx/styles/global.css";
import Head from "@hx/components/Head.astro";
import { AstroFont } from "astro-font";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <slot name="head">
      <Head title="Ali Hashemi" description={"Ali Hashemi's personal website"} />
    </slot>

    <AstroFont
      config={[
        {
          src: [],
          name: "Space Grotesk Variable",
          googleFontsURL: "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>

  <body
    class="relative mx-auto my-16 flex w-full max-w-prose flex-col gap-8 px-3 font-sans antialiased dark:bg-zinc-950"
  >
    <slot />
  </body>
</html>

<style>
  html {
    color-scheme: dark;
  }
</style>
